{% load static %}
<script src="{% static 'datatables/js/jquery-3.7.0.js' %}"></script>
<script src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'datatables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/js/jszip.min.js' %}"></script>
<script src="{% static 'datatables/js/pdfmake.min.js' %}"></script>
<script src="{% static 'datatables/js/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/js/buttons.print.min.js' %}"></script>

<script>
    new DataTable('#example', {
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
    });
</script>