 
{% extends 'admin_template/base_template.html' %}
{% block title %}
Tour Category
{% endblock title %}
{% block main_content %}
{% load static %}
<section class="content">
    <div class="container-fluid">
        <div class="content-wrappe">
            <!-- Content Header (Page header) -->    
        
            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Import Tour Category record  </h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      {% url 'import_tour_category' as action_path %}
                      {% include 'admin_template/form_template.html' with messages=messages forms=forms action_path=action_path button_text="Import" %}
                    </div>

        
                  </div>

                  </div>
                  <!--/.col (right) -->
                </div>
             
              
            </section>
            <!-- /.content -->
          </div>
    </div><!-- /.container-fluid -->
  </section>

  {% endblock main_content %}