{% extends 'admin_template/base_template.html' %}

{% block title %}
Tour Packages List
{% endblock title %}
{% block breadcrumb %}
{% include "admin_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addTourPackageModal">
    <i class="fas fa-plus"></i>add Tour Packages
</a>

{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h3  class="header-title text-center mt-0 mb-1  text-uppercase">Tour Packages List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Duration (Days)</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Max Capacity</th>
                                    <th>Includes Meals</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for package in tour_packages %}
                                <tr>
                                    <td>{{ package.name }}</td>
                                    <td>{{ package.description }}</td>
                                    <td>{{ package.price }}</td>
                                    <td>{{ package.duration_days }}</td>
                                    <td>{{ package.start_date }}</td>
                                    <td>{{ package.end_date }}</td>
                                    <td>{{ package.max_capacity }}</td>
                                    <td>{{ package.includes_meals }}</td>
                                    <td >
                                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editTourPackageModal{{ package.id }}"  data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTourPackageModal{{ package.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>   
                                      
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="addTourPackageModal" tabindex="-1" role="dialog" aria-labelledby="addTourPackageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTourPackageModalLabel">Create Tour Package</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Bootstrap Card -->
          <div class="card">
            <div class="card-body">
              <!-- Form fields -->
              <form id="addTourPackageForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <!-- Name -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                    </div>
                  </div>
                  <!-- Description -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" name="description" placeholder="Enter description"></textarea>
                    </div>
                  </div>
                  <!-- Price -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" id="price" name="price" placeholder="Enter price">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Duration (Days) -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="duration">Duration (Days)</label>
                      <input type="number" class="form-control" id="duration" name="duration" placeholder="Enter duration in days">
                    </div>
                  </div>
                  <!-- Start Date -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="startDate">Start Date</label>
                      <input type="date" class="form-control" id="startDate" name="startDate">
                    </div>
                  </div>
                  <!-- End Date -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="endDate">End Date</label>
                      <input type="date" class="form-control" id="endDate" name="endDate">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Max Capacity -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="maxCapacity">Max Capacity</label>
                      <input type="number" class="form-control" id="maxCapacity" name="maxCapacity" placeholder="Enter max capacity">
                    </div>
                  </div>
                 <!-- Includes Meals -->
                    <div class="col-md-4">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="includesMeals" name="includesMeals" {% if package.includes_meals %}checked{% endif %}>
                            <label class="form-check-label" for="includesMeals">Includes Meals</label>
                            <!-- Add a hidden input field to send the actual boolean value -->
                            <input type="hidden" name="includesMeals" value="False">
                        </div>
                    </div>
                  <!-- Category -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="category">Category</label>
                      <select  class="form-control select2bs4" style="width: 100%;" id="category" name="category">
                        <!-- Populate options using for loop -->
                        {% for category in categories %}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Transportation Options -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="transportationOptions">Transportation Options</label>
                      <select multiple  class="form-control select2bs4" style="width: 100%;" id="transportationOptions" name="transportationOptions">
                        <!-- Populate options using for loop -->
                        {% for transportation in transportations %}
                          <option value="{{ transportation.id }}">{{ transportation.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Activities -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="activities">Activities</label>
                      <select multiple  class="form-control select2bs4" style="width: 100%;" id="activities" name="activities">
                        <!-- Populate options using for loop -->
                        {% for activity in activities %}
                          <option value="{{ activity.id }}">{{ activity.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Image -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="image">Image</label>
                      <input type="file" class="form-control-file" id="image" name="image">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Transportation Options -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Save Package</button>
                  </div>                
                </div>
              </form>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
  
  <!-- JavaScript/jQuery code -->
<script>
    $(document).ready(function() {
        $('#addTourPackageForm').submit(function(event) {
            event.preventDefault(); // Prevent default form submission
            
            // Serialize form data
            var formData = new FormData($(this)[0]);

            // Send data to the server using AJAX
            $.ajax({
                url: '{% url "save_tour_package" %}',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#responseMessageContainer').html('<div class="alert alert-' + (response.status ? 'success' : 'danger') + '" role="alert">' + response.message + '</div>');
                    if (response.status) {
                        $('#addTourPackageModal').modal('hide');
                    }
                },
                error: function(xhr, status, error) {
                    $('#responseMessageContainer').html('<div class="alert alert-danger" role="alert">Failed to save tour package. Please try again later.</div>');
                }
            });
        });
    });
</script>
  
{% for package in tour_packages %}
 <!-- Bootstrap Modal -->
<div class="modal fade" id="editTourPackageModal{{ package.id }}" tabindex="-1" role="dialog" aria-labelledby="editTourPackageModalLabel{{ package.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editTourPackageModalLabel{{ package.id }}">Edit Tour Package</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Bootstrap Card -->
          <div class="card">
            <div class="card-body">
              <!-- Form fields -->
              <form id="editTourPackageForm{{ package.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <!-- Name -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name{{ package.id }}" name="name" placeholder="Enter name" value="{{ package.name }}">
                      <input type="hidden" id="tour_package_id{{ package.id }}" name="tour_package_id" value="{{ package.id }}">
                    </div>
                  </div>
                  <!-- Description -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description{{ package.id }}" name="description" placeholder="Enter description">{{ package.description }}</textarea>
                    </div>
                  </div>
                  <!-- Price -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" id="price{{ package.id }}" name="price" placeholder="Enter price" value="{{ package.price }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Duration (Days) -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="duration{{ package.id }}">Duration (Days)</label>
                      <input type="number" class="form-control" id="duration{{ package.id }}" name="duration" placeholder="Enter duration in days" value="{{ package.duration }}">
                    </div>
                  </div>
                  <!-- Start Date -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="startDate{{ package.id }}">Start Date</label>
                      <input type="date" class="form-control" id="startDate{{ package.id }}" name="startDate" value="{{ package.start_date }}">
                    </div>
                  </div>
                  <!-- End Date -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="endDate{{ package.id }}">End Date</label>
                      <input type="date" class="form-control" id="endDate{{ package.id }}" name="endDate" value="{{ package.end_date }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Max Capacity -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="maxCapacity{{ package.id }}">Max Capacity</label>
                      <input type="number" class="form-control" id="maxCapacity{{ package.id }}" name="maxCapacity" placeholder="Enter max capacity" value="{{ package.max_capacity }}">
                    </div>
                  </div>
                  <!-- Includes Meals -->
                  <div class="col-md-4">
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="includesMeals{{ package.id }}" name="includesMeals" {% if package.includes_meals %}checked{% endif %}>
                      <label class="form-check-label" for="includesMeals{{ package.id }}">Includes Meals</label>
                    </div>
                  </div>
                  <!-- Category -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="category{{ package.id }}">Category</label>
                      <select class="form-control select2bs4" style="width: 100%;" id="category{{ package.id }}" name="category">
                        {% for category in categories %}
                          <option value="{{ category.id }}" {% if category.id == package.category.id %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Transportation Options -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="transportationOptions{{ package.id }}">Transportation Options</label>
                      <select multiple  class="form-control select2bs4" style="width: 100%;" id="transportationOptions{{ package.id }}" name="transportationOptions">
                        {% for transportation in transportations %}
                          <option value="{{ transportation.id }}" {% if transportation.id in package.transportation_options.all %}selected{% endif %}>{{ transportation.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Activities -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="activities{{ package.id }}">Activities</label>
                      <select multiple  class="form-control select2bs4" style="width: 100%;" id="activities{{ package.id }}" name="activities">
                        {% for activity in activities %}
                          <option value="{{ activity.id }}" {% if activity.id in package.activities.all%}selected{% endif %}>{{ activity.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- Image -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="image{{ package.id }}">Image</label>
                      <input type="file" class="form-control-file" id="image{{ package.id }}" name="image">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary float-right" onclick="submitForm('{{ package.id }}')">Submit</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div> 
{% endfor %}
<script>
    function submitForm(packageId) {
      // Get form data
      var formData = new FormData(document.getElementById('editTourPackageForm' + packageId));
      
      // Send data to the server
      $.ajax({
        url: 'save_tour_package',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          // Display success message
          $('#responseMessage' + packageId).html('<div class="alert alert-success" role="alert">' + response.message + '</div>');
        },
        error: function(xhr, status, error) {
          // Display error message
          $('#responseMessage' + packageId).html('<div class="alert alert-danger" role="alert">' + error + '</div>');
        }
      });
    }
    </script>
  


    {% for package in tour_packages %}
    <!-- Modal -->
    <div class="modal fade" id="deleteTourPackageModal{{ package.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteTourPackageModalLabel{{ package.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTourPackageModalLabel{{ package.id }}">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the Tour Package "{{ package.name }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger delete-tour-package-btn" data-tour-package-id="{{ package.id }}">Delete</button>
                </div>
                <div class="row">
                    <div class="col-md-12">              
                        <div id="response-message-container{{ package.id }}"></div>
                    </div>          
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <script>
    $(document).ready(function() {
        // Handle delete button click
        $('.delete-tour-package-btn').click(function() {
            var packageId = $(this).data('tour-package-id');
            // Send delete request to the server
            $.ajax({
                url: '{% url "delete_tour_package" %}', // Replace with your server endpoint
                method: 'POST',
                data: {
                    package_id: packageId,
                },
                success: function(response) {
                    // Display response message
                    $('#response-message-container{{ packageId }}').html('<div class="alert alert-' + (response.status ? 'success' : 'danger') + '" role="alert">' + response.message + '</div>');
                    // Close the modal
                    $('#deleteTourPackageModal{{ packageId }}').modal('hide');
                    // Refresh the page
                    location.reload(true);
                },
                error: function(xhr, status, error) {
                    // Handle error response from the server
                    $('#response-message-container{{ packageId }}').html('<div class="alert alert-danger" role="alert">Failed to delete the tour package. Please try again later.</div>');
                }
            });
        });
    });
    </script>
    


{% include 'admin_template/datatable.html' %}
{% endblock main_content %}