{% extends 'admin_template/base_template.html' %}

{% block title %}
List of  Tourist     
{% endblock title %}

{% block breadcrumb %}
{% include "admin_template/modal_form.html" %}
<a class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#addTouristModal">
    <i class="fas fa-plus"></i> New staff
</a>
{% endblock breadcrumb %}
{% block main_content %}
<div class="table-responsive">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3  class="header-title text-center mt-0 mb-1  text-uppercase">List of Tourist </h3>
                </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Nationality</th>
                                    <th>Phone Number</th>
                                    <th>Last Logged In</th>
                                    <th>Address</th>
                                    <th>Photo</th>
                                    <th>Passport Number</th>
                                    <th>Emergency Contact Name</th>
                                    <th>Emergency Contact Number</th>
                                    <th>Gender</th>
                                    <th>Date and time</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tourist in tourists %}
                                <tr>
                                    <td>{{ tourist.admin.first_name }} {{ tourist.middle_name }} {{ tourist.admin.last_name }}</td>      
                                    <td><script>
                                        var dob = new Date("{{ tourist.date_of_birth|date:'Y-m-d' }}");
                                        var now = new Date();
                                        var ageMilliseconds = now - dob;
                                        var ageSeconds = ageMilliseconds / 1000;
                                        var ageYears = Math.floor(ageSeconds / (365.25 * 24 * 60 * 60));
                                        document.write(ageYears + ' years');
                                    </script>
                                    </td>
                                    <td>{{ tourist.nationality }}</td>
                                    <td>{{ tourist.phone_number }}</td>
                                    <td>{{ tourist.admin.last_login }}</td>
                                    <td>{{ tourist.address }}</td>
                                    <td>
                                        {% if tourist.profile_pic %}
                                            <img src="{{ tourist.profile_pic }}" style="width:100px;" alt="Profile Picture" />
                                        {% else %}
                                            <p>No profile picture</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ tourist.passport_number }}</td>
                                    <td>{{ tourist.emergency_contact_name }}</td>
                                    <td>{{ tourist.emergency_contact_number }}</td>
                                    <td>{{ tourist.gender }}</td>
                                    <td>{{ tourist.created_at }}</td>
                                    <td>
                                        <form method="POST" action="{% url 'update_tourist_status' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="user_id" value="{{ tourist.admin.id }}">
                                            <input type="hidden" name="is_active" value="{% if tourist.admin.is_active %}1{% else %}0{% endif %}">
                                            <input
                                                type="checkbox"
                                                data-toggle="switchbutton"
                                                data-size="xs"
                                                data-onlabel="Active"
                                                data-offlabel="Inactive"
                                                data-offstyle="danger"
                                                data-onstyle="success"
                                                {% if tourist.admin.is_active %}checked{% endif %}
                                                onchange="submitForm(this)"
                                            >
                                        </form>
                                    </td>
                                    <td >
                                        <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#editTouristModal{{ tourist.id }}"  data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit text-white"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTouristModal{{ tourist.id }}"  data-toggle="tooltip" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>   
                                      
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="addTouristModal" tabindex="-1" role="dialog" aria-labelledby="addTouristModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTouristModalLabel">Add Tourist Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <form id="addTouristForm" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input type="text" class="form-control" id="first_name" name="first_name">
                                <input type="hidden" class="form-control" id="tourist_id" name="tourist_id">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="middle_name">Middle Name:</label>
                                <input type="text" class="form-control" id="middle_name" name="middle_name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input type="text" class="form-control" id="last_name" name="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nationality">Nationality:</label>
                                <select class="form-control select2bs4" style="width: 100%;" name="nationality" id="nationality" required>
                                    {% for country in all_country %}
                                        <option value="{{ country.id }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="emergency_contact_name">Emergency Contact Name:</label>
                                <input type="text" class="form-control" id="emergency_contact_name" name="emergency_contact_name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="emergency_contact_number">Emergency Contact Number:</label>
                                <input type="text" class="form-control" id="emergency_contact_number" name="emergency_contact_number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <select class="form-control select2bs4" style="width: 100%;" id="gender" name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dob">Date of Birth:</label>
                                <input type="date" class="form-control" id="dob" name="dob">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="tourist_photo">Profile Picture</label>
                            <input type="file" class="form-control" id="tourist_photo" name="tourist_photo" accept=".jpg, .jpeg, .png"  data-max-size="5242880">
                            <small class="form-text text-danger">Accepted formats: JPG, JPEG, PNG | Maximum file size: 5MB</small>
                        </div>  
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="passport_number">passport  number (if any) :</label>
                                <input type="text" class="form-control" id="passport_number" name="passport_number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone_number">Phone  number  :</label>
                                <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-md-4">
                            <div class="responseMessage"></div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        </div>
                    </div>
                </div>
               </form>
            </div>           
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        $('#addTouristForm').on('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission
            
            // Clear previous error messages
            $('.error-message').remove();
            
            // Check if required fields are filled
            var isValid = true;
            $(this).find('[required]').each(function() {
                if ($(this).val() == '') {
                    // If a required field is empty, display an error message
                    $(this).after('<span class="error-message text-danger">This field is required.</span>');
                    isValid = false;
                }
            });
            
            if (!isValid) {
                // If any required field is empty, do not submit the form
                return;
            }
            
            // Create FormData object
            var formData = new FormData(this);
    
            // Send form data to the server using AJAX
            $.ajax({
                type: 'POST',
                url: '{% url 'add_tourist_record' %}', // Replace 'your_endpoint_here' with the actual URL endpoint
                data: formData,
                contentType: false, // Don't set contentType
                processData: false, // Don't process data
                success: function(response) {
                    // If the request is successful, display a success message
                    if(response.status)
                    {
                        $('#responseMessage').html('<div class="alert alert-success">'+ response.message +'</div>');
                    
                        location.reload(true)
                    }
                    else{
                        $('#responseMessage').html('<div class="alert alert-danger">'+ response.message +'</div>');
                    }
                },
                error: function(xhr, status, error) {
                    // If the request fails, display an error message
                    $('#responseMessage').html('<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>');
                }
            });
        });
    });
</script>

{% for tourist in tourists %}
<!-- Modal -->
<div class="modal fade" id="editTouristModal{{ tourist.id }}" tabindex="-1" role="dialog" aria-labelledby="editTouristModalLabel{{ tourist.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTouristModalLabel{{ tourist.id }}">Edit Tourist Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editTouristForm{{ tourist.id }}" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="first_name{{ tourist.id }}">First Name:</label>
                                    <input type="text" class="form-control" id="first_name{{ tourist.id }}" name="first_name" value="{{ tourist.admin.first_name }}" required>
                                    <input type="hidden" class="form-control" id="tourist_id{{ tourist.id }}" name="tourist_id" value="{{ tourist.id }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="middle_name{{ tourist.id }}">Middle Name:</label>
                                    <input type="text" class="form-control" id="middle_name{{ tourist.id }}" name="middle_name" value="{{ tourist.middle_name }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="last_name{{ tourist.id }}">Last Name:</label>
                                    <input type="text" class="form-control" id="last_name{{ tourist.id }}" name="last_name" value="{{ tourist.admin.last_name }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="username{{ tourist.id }}">Username:</label>
                                    <input type="text" class="form-control" id="username{{ tourist.id }}" name="username" value="{{ tourist.admin.username }}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email{{ tourist.id }}">Email:</label>
                                    <input type="email" class="form-control" id="email{{ tourist.id }}" name="email" value="{{ tourist.admin.email }}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="password{{ tourist.id }}">Password:</label>
                                    <input type="password" class="form-control" id="password{{ tourist.id }}" name="password"  value="{{ tourist.admin.password }}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nationality{{ tourist.id }}">Nationality:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="nationality" id="nationality{{ tourist.id }}" required>
                                        {% for country in all_country %}
                                            <option value="{{ country.id }}" {% if patient.nationality == country.id %} selected {% endif %}>{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emergency_contact_name{{ tourist.id }}">Emergency Contact Name:</label>
                                    <input type="text" class="form-control" id="emergency_contact_name{{ tourist.id }}" name="emergency_contact_name" value="{{ tourist.emergency_contact_name }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emergency_contact_number{{ tourist.id }}">Emergency Contact Number:</label>
                                    <input type="text" class="form-control" id="emergency_contact_number{{ tourist.id }}" name="emergency_contact_number" value="{{ tourist.emergency_contact_number }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address{{ tourist.id }}">Address:</label>
                                    <input type="text" class="form-control" id="address{{ tourist.id }}" name="address" value="{{ tourist.address }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender{{ tourist.id }}">Gender:</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="gender{{ tourist.id }}" name="gender">
                                        <option value="male" {% if tourist.gender == 'male' %}selected{% endif %}>Male</option>
                                        <option value="female" {% if tourist.gender == 'female' %}selected{% endif %}>Female</option>
                                        <option value="other" {% if tourist.gender == 'other' %}selected{% endif %}>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dob{{ tourist.id }}">Date of Birth:</label>
                                    <input type="date" class="form-control" id="dob{{ tourist.id }}" name="dob" value="{{ tourist.date_of_birth }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="passport_number{{ tourist.id }}">Passport Number:</label>
                                    <input type="text" class="form-control" id="passport_number{{ tourist.id }}" name="passport_number" value="{{ tourist.passport_number }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="phone_number{{ tourist.id }}">Phone Number:</label>
                                    <input type="text" class="form-control" id="phone_number{{ tourist.id }}" name="phone_number" value="{{ tourist.phone_number }}">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="tourist_photo">Profile Picture</label>
                                <!-- Display current profile picture -->
                                {% if tourist.profile_pic %}
                                    <img src="{{ tourist.profile_pic }}" alt="Profile Picture" class="img-thumbnail">
    
                                {% else %}
                                    <p>No picture available</p>
                                {% endif %}                    
                                <input type="file" class="form-control" id="tourist_photo{{ tourist.id }}" name="tourist_photo" accept=".jpg, .jpeg, .png"  data-max-size="5242880">
                                <small class="form-text text-danger">Accepted formats: JPG, JPEG, PNG | Maximum file size: 5MB</small>
                            </div>   
                        </div>
                     
                        <div class="row">
                            <div class="col-md-12">
                                <div id="responseMessage"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Save changes</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>

{% endfor %}

<script>
    $(document).ready(function() {
        // Submit form data when the form is submitted
        $('form[id^="editTouristForm"]').submit(function(e) {
            e.preventDefault(); // Prevent the default form submission
            
            var form = $(this);           
            var formData = new FormData(form[0]);
            
            $.ajax({
                type: "POST",
                url: '{% url 'add_tourist_record' %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.status) {
                        $('#responseMessages' + response.id).html('<div class="alert alert-success" role="alert">' + response.message + '</div>');
                        location.reload(true)
                    } else {
                        $('#responseMessages' + response.id).html('<div class="alert alert-danger" role="alert">' + response.message + '</div>');
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    $('#responseMessages' + response.id).html('<div class="alert alert-danger" role="alert">' + errorThrown + '</div>');
                }
            });
        });
    });
</script>

{% for tourist in tourists %}
<div class="modal fade" id="deleteTouristModal{{ tourist.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteTouristModalLabel{{ tourist.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTouristModalLabel{{ tourist.id }}">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Tourist record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn{{ tourist.id }}" data-tourist-id="{{ tourist.id }}">Delete</button>
            </div>
        </div>
    </div>
</div>  

<script>
    $(document).ready(function() {
        // Show the delete modal when the delete button is clicked
        $('#deleteBtn{{ tourist.id }}').click(function() {
            // Show the delete modal for the corresponding tourist
            $('#deleteTouristModal{{ tourist.id }}').modal('show');
        });
    
        // Handle the delete confirmation
        $('#confirmDeleteBtn{{ tourist.id }}').click(function() {
            // Get the tourist ID from the button's data attribute
            var touristId = $(this).data('tourist-id');
            
            // Send a POST request to delete the tourist record
            $.ajax({
                url: '{% url "delete_staff" %}', // URL for the delete endpoint
                method: 'POST',
                data: { tourist_id: touristId }, // Pass the tourist ID in the request data
                success: function(response) {
                    // Check if the deletion was successful
                    if (response.status === 'success') {
                        // Reload the page to reflect changes
                        location.reload(true);
                    } else {
                        // Handle the case when deletion fails
                        // For example, show an error message
                        console.error('Failed to delete tourist record.');
                    }
                },
                error: function(xhr, status, error) {
                    // Handle the case when there's an error in the AJAX request
                    // For example, show an error message to the user
                    console.error('Failed to send delete request:', error);
                }
            });
        });
    });
</script>
{% endfor %}


<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>
{% include 'admin_template/datatable.html' %}
{% endblock main_content %}