{% extends 'admin_template/base_template.html' %}

{% block title %}
Booking List
{% endblock title %}
{% block breadcrumb %}
{% include "admin_template/modal_form.html" %}
{% endblock breadcrumb %}
{% load static %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="header-title text-center mt-0 mb-1 text-uppercase">Booking List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm display" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Transport</th>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Nationality</th>
                                    <th>Phone Number</th>
                                    <th>Passport Number</th>
                                    <th>Emergency Contact</th>
                                    <th>Gender</th>
                                    <th>Check-in Date</th>
                                    <th>Check-out Date</th>
                                    <th>Booking Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ booking.transport_service.name }}</td>
                                    <td>{{ booking.customer_name }}</td>
                                    <td>{{ booking.customer_email }}</td>
                                    <td>{{ booking.nationality.name }}</td>
                                    <td>{{ booking.phone_number }}</td>
                                    <td>{{ booking.passport_number }}</td>
                                    <td>{{ booking.emergency_contact_name }} ({{ booking.emergency_contact_number }})</td>
                                    <td>{{ booking.gender }}</td>
                                    <td>{{ booking.check_in_date }}</td>
                                    <td>{{ booking.check_out_date }}</td>
                                    <td>{{ booking.booking_date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% include 'admin_template/datatable.html' %}
{% endblock main_content %}